.grid-img {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
    gap: 1%;
    justify-items: center;
    align-items: center;
    margin-bottom: 10rem;
  }
  
  .grid-img > * {
    width: 80%;
    object-fit: cover;
    border-radius: 15px;
    height: 80%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .grid-img > .img-1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 80%;
  }
  
  .grid-img > .img-2 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .grid-img > .img-3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .grid-img > .img-4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .grid-img > .img-5 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .grid-img > .img-6 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .grid-img > .img-7 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 5;
    height: 80%;
  }