.nav-giday{

    position: fixed;
    height: 10vh;
    top: 0;
    width: 100%;
    z-index: 99;

}

.change{
    background-color: blue;
}

.nav-all-close{
    display: flex;
    flex-direction: row;
    /* background: rgb(250,235,215);
    background: linear-gradient(90deg, rgba(250,235,215,1) 27%, rgba(239,230,230,1) 75%); */
    background-color: transparent;
    height: 10vh;
    position: sticky;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}