body {
    /* position: relative; */
    height: 100vh;
  }
  
svg { 
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%)  
  }
  
text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    animation: dash 5s ease-out alternate infinite;
    
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }